html,
body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

html,
body {
  overflow-x: hidden;
}

body {
  background: #000;
  font-family: "Roboto Mono", monospace;
}

* {
  box-sizing: border-box;
}
